<h1>{{title}}</h1>
<app-book-catalog></app-book-catalog>
<!-- <nav>
	<a routerLink="/inventory-on-hand">Inventory by Location</a>
	<a routerLink="/inventory-value">Inventory Value by Location</a>
	<a routerLink="/inventory-transfers">Inventory Transfers by Location</a>
	<a routerLink="/inventory-adjustments">Inventory Adjustments by Location</a>
	<a routerLink="/receive-sku">Receive By SKU</a>
	<a routerLink="/receive-order">Receive By Order</a>
	<a routerLink="/unsubmitted-orders">Manage Un-Submitted Inventory Transfer Orders</a>
	<a routerLink="/transfer-request">Transfer Request</a>
	<a routerLink="/pick-order">Fill a Transfer Order</a>
</nav>
<router-outlet></router-outlet> -->
